<!DOCTYPE html>
<!-- This website template was created by: student's First Name Student's Last Name -->
<html lang="en">
<head>
	<title> Forward Pet Rescue Club </title>
	<meta charset="utf-8">
</head>
<body>

	<div id="container">

	
	<!-- Use the header area for the website name or logo -->
	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Forward Pet Rescue Club logo" height="275" width="845"></a>
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	
	<nav>
		<a href="index.html">Home</a> &nbsp; &nbsp;
		<a href="about.html">About Pet Rescue</a> &nbsp; &nbsp;
		<a href="workers.html">Transport Workers</a> &nbsp; &nbsp;
		<a href="pet.html">Pet Food and Supplies</a> &nbsp; &nbsp;
		<a href="pet.html">Pet List</a> &nbsp; &nbsp;
		<a href="contact.html">Contact Number</a>
	</nav>

	<!-- Use the main area to add the main content of the webpage -->
	<main>
	</main>
	
	<!-- Use the footer area to add webpage Footer content -->
	<footer>
		copy; Copyright 2019. All Rights Reserved.<br>
		<a href="mailto:forwardfitness@club.net">forwardpetrescue@club.net</a>
	</footer>
	
	</div>
	
</body>
</html>